.main-container {
    margin-top: 70px;
    margin-left: 224px;
    padding: 20px;
    transition: .3s ease-in-out;
}

.main-container.main-wided {
    margin-left: 100px;
}

.dashboard-container .title {
    color: #5a6372;
}

.dashboard-container main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

main .left-container,
main .right-container {
    flex: 1;
    height: 200px;
}

.dashboard-container .left-container .timebox {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-height: 200px;
}